[submodule "CBIG/external_packages/matlab/non_default_packages/Gaussian_Process/gpso_dir"]
	path = CBIG/external_packages/matlab/non_default_packages/Gaussian_Process/gpso_dir
	url = https://github.com/jhadida/gpso.git
[submodule "CBIG/external_packages/matlab/non_default_packages/Gaussian_Process/gpso"]
	path = CBIG/external_packages/matlab/non_default_packages/Gaussian_Process/gpso
	url = https://github.com/jhadida/gpso.git
